<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teachers.mapper.TeachersMapper">

    <delete id="teacherDeleteByName" parameterType="Map">
        delete from user where name = #{name}
    </delete>

    <update id="teacherUpdate" parameterType="Map">
         update teacher set  name = #{name} , nickname = #{nickname},image = #{image}
         ,position = #{position},motto = #{motto},intro = #{intro} where  id = #{id}
    </update>




</mapper>